html {
  font-family: "Lato", "sans-serif", "微软雅黑", "Helvetica Neue";
  background: color-background;
  background: color-background -webkit-gradient(linear, left top, left bottom, color-stop(0, #00ade3), color-stop(0.33333333333333326, #080046), color-stop(1, #000)) fixed;
  background: color-background -webkit-linear-gradient(top, #00ade3 0%, #080046 33.33333333333333%, #000 100%) fixed;
  background: color-background -moz-linear-gradient(top, #00ade3 0%, #080046 33.33333333333333%, #000 100%) fixed;
  background: color-background -o-linear-gradient(top, #00ade3 0%, #080046 33.33333333333333%, #000 100%) fixed;
  background: color-background -ms-linear-gradient(top, #00ade3 0%, #080046 33.33333333333333%, #000 100%) fixed;
  background: color-background linear-gradient(top, #00ade3 0%, #080046 33.33333333333333%, #000 100%) fixed;
}
body {
  background: #ecf8ff;
  padding-top: 0;
}
p {
  color: #333;
}
a {
  color: #2980b9;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -o-transition: color 0.5s;
  -ms-transition: color 0.5s;
  transition: color 0.5s;
}
a:hover {
  color: #f39c12;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -o-transition: color 0.5s;
  -ms-transition: color 0.5s;
  transition: color 0.5s;
}
a.btn {
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
a.btn:hover {
  color: #fff;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
li {
  line-height: 30px;
}
.split-line {
  height: 1px;
  width: auto;
  background: #ccc;
  overflow: hidden;
  margin-top: 10px;
}
.page-sub-title {
  font-size: 36px;
  font-weight: bold;
  color: #9b59b6;
}
@media (min-width: 777px) {
  .container-center {
    width: 70%;
  }
}
@media (max-width: 767px) {
  .container-center {
    width: 90%;
  }
}
.main-content {
  padding: 20px 0;
}
#comment {
  margin-top: 40px;
}
.btn-loadmore {
  margin-top: 20px;
  opacity: 0.5;
  filter: alpha(opacity=50);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}
#page-header {
  margin-bottom: 0;
}
.navbar {
  margin-bottom: 0;
}
.navbar-inner {
  padding: 10px 0;
  background: #00529c;
}
.navbar .menu-trigger {
  font-size: 2em;
  padding-top: 0;
  margin-bottom: 0;
}
@media (max-width: 979px) {
  .navbar .menu-trigger {
    line-height: inherit;
  }
}
@media (max-width: 767px) {
  .navbar .menu-trigger {
    line-height: inherit;
    font-size: 2.8em;
  }
}
.navbar .brand {
  font-size: 1.8em;
  font-weight: 400;
}
.navbar .nav>li>a {
  color: #fff;
}
.btn-large {
  padding: 19px 19px;
}
.btn-primary {
  background-color: #00529c;
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: #3498db;
}
article {
  font-size: 1em;
/* simple_article CSS start */
/* simple_article CSS end */
}
article .article-title h1 {
  color: #3498db;
  font-size: 2em;
  font-weight: bold;
  line-height: 1.4;
  margin: 0;
  padding: 20px 0;
}
article .article-title h1 a {
  color: #3498db;
}
article .article-title h1 a:hover {
  color: #f39c12;
}
article .simple-article-title h1 {
  font-size: 1.6em;
  padding: 10px 0;
}
article .tags-row {
  margin-top: 10px;
}
article .tags-row a {
  margin: 2px 2px;
}
article .date-tags {
  margin-top: 16px;
}
article .date-row {
  color: #333;
  margin-bottom: 10px;
  font-size: 1.2em;
}
article .prev,
article .next {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  cursor: pointer;
}
article .prev:before,
article .next:before {
  position: absolute;
  font: 24px/1 font-icon;
  text-align: center;
  width: 24px;
  text-shadow: 0 0 15px rgba(0,0,0,0.5);
  color: #fff;
  margin-top: -12px;
  top: 50%;
}
article header {
  -webkit-border-radius: 0;
  border-radius: 0;
  background: none;
  position: relative;
  padding: 0;
  border-bottom: 0;
  margin-bottom: 10px;
}
article header time {
  font: 0.9em "微软雅黑", "Droid Serif", Helvetica Neue, Helvetica, Arial, sans-serif;
  margin-bottom: 5px;
  display: block;
  line-height: 1;
}
article header:hover {
  color: #069;
}
article .entry {
  text-align: justify;
  line-height: 1.6;
}
article .entry h1,
article .entry h2,
article .entry h3,
article .entry h4,
article .entry h5,
article .entry h6 {
  margin: 0.6em 0;
}
article .entry h1 {
  font-size: 1.6em;
  color: #16a085;
}
article .entry h2 {
  font-size: 1.4em;
  color: #16a085;
}
article .entry h3,
article .entry h4,
article .entry h5,
article .entry h6 {
  font-size: 1.2em;
  color: #16a085;
}
article .entry blockquote {
  margin: 0 -30px 20px;
  padding: 15px 20px 1px 40px;
  font-style: italic;
  background: #ccc;
  background: rgba(0,0,0,0.06);
  color: #222;
}
article .entry img,
article .entry video {
  max-width: 98%;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 5px;
  background: #fff;
  -webkit-box-shadow: 0 0 8px #aaa;
  box-shadow: 0 0 8px #aaa;
}
article .entry.nstyle {
  -webkit-border-radius: 0;
  border-radius: 0;
  padding: 0;
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
article .entry iframe {
  max-width: 98%;
}
article .entry .caption {
  display: block;
  margin-top: 5px;
  color: #aaa;
  position: relative;
  font-size: 0.9em;
  padding-left: 25px;
}
article .entry .caption:before {
  content: '\f040';
  position: absolute;
  font: 1.3em font-icon;
  position: absolute;
  left: 0;
  top: 3px;
}
article .entry code,
article .entry pre {
  font-family: Consolas, "微软雅黑", Monaco, Menlo, Courier New, monospace;
  color: #333;
  font-size: 1em;
  white-space: pre-wrap;
  word-wrap: break-word;
}
article .entry code {
  font-size: 16px;
  padding: 0;
  margin: 0;
}
article .entry p code {
  color: #fff;
  padding: 4px;
}
#page-footer {
  font-size: 1em;
  background-color: #2c3e50;
  color: #fff;
  overflow: hidden;
}
.footer-content {
  padding: 10px 0;
}
.footer-text {
  padding-top: 4px;
}
.footer-text a {
  color: #9fc9e9;
  font-style: italic;
}
.footer-text a:hover {
  color: #16a085;
}
.social-group {
  width: 5em;
  font-size: 2em;
}
.social-group a {
  color: #fff;
  padding: 0 4px;
}
.social-group a:hover {
  color: #16a085;
}
#jPanelMenu-menu-side {
  display: none;
}
#jPanelMenu-menu .nav li {
  border-bottom: 1px solid #333;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
#jPanelMenu-menu .nav li:hover {
  background-color: #3498db;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
#jPanelMenu-menu .nav li:first-child:hover {
  background-color: #232323;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
#jPanelMenu-menu .nav [class^="icon-"] {
  margin-right: 10px;
}
#jPanelMenu-menu .nav [class*=" icon-"] {
  margin-right: 10px;
}
#jPanelMenu-menu .nav>li>a.brand {
  padding: 5px 0;
}
#comment {
  margin-top: 40px;
}
#comment .title {
  font-size: 40px;
  font-weight: bold;
  color: color-section-title;
}
figure.highlight {
  position: relative;
  padding: 10px 20px;
  margin: 0;
}
@media screen and (max-width:580px) {
  figure.highlight {
    padding: 10px;
  }
}
figure.highlight pre {
  border: none;
  padding: 0 10px;
  margin: 0;
}
figure.highlight table {
  margin: 0;
  border-spacing: 0;
}
figure.highlight td {
  padding: 0;
  border-bottom: 0;
}
figure.highlight .gutter pre {
  padding: 0 0 0 10px;
  border-right: 1px solid #fff;
  height: 100%;
}
pre,
code {
  background: #93aaac;
}
pre .keyword {
  color: #859900;
}
pre .tag {
  color: #f8f8f2;
}
pre .comment,
pre .template_comment,
pre .diff .header,
pre .doctype,
pre .pi,
pre .lisp .string,
pre .javadoc {
  color: #75715c;
  font-style: italic;
}
pre .doctype {
  color: #268bd2;
}
pre .keyword,
pre .winutils,
pre .method,
pre .addition,
pre .css .tag,
pre .request,
pre .status,
pre .nginx .title {
  color: #66d9ef;
}
pre .number,
pre .command,
pre .phpdoc,
pre .tex .formula,
pre .regexp,
pre .hexcolor {
  color: #ae81fc;
}
pre .string,
pre .tag .value {
  color: #e6db6e;
}
pre .title,
pre .localvars,
pre .chunk,
pre .decorator,
pre .built_in,
pre .identifier,
pre .vhdl,
pre .literal,
pre .id {
  color: #f22672;
}
pre .attribute,
pre .variable,
pre .lisp .body,
pre .smalltalk .number,
pre .constant,
pre .class .title,
pre .parent,
pre .haskell .type {
  color: #a6e22e;
}
pre .preprocessor,
pre .preprocessor .keyword,
pre .shebang,
pre .symbol,
pre .symbol .string,
pre .diff .change,
pre .special,
pre .attr_selector,
pre .important,
pre .subst,
pre .cdata,
pre .clojure .title {
  color: #cb4b16;
}
pre .deletion {
  color: #dc322f;
}
