<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    
    <title>Django学习笔记（3）——Django的模板 | Ray Taylor Lin&#39;s world</title>
    <meta name="author" content="林寿山">
    
    <meta name="description" content="在学习笔记（1）中，你可能已经注意到我们在例子视图hello_view中返回文本的方式有点特别。也就是说，HTML可以直接硬编码在Python代码之中。但是直接将HTML编码到Python代码中有许多坏处：对页面设计进行的任何改变都必须对Python代码进行相应的修改，站点设计的修改往往比底层Python代码的修改要频繁得多；Python代码编写和HTML设计是两项不同的工作，大多数专业的网站开发环境都将他们分配给不同的人员（甚至不同部门）来完成。
基于这些原因，将页面的设计和Python的代码分离开会更干净简洁更容易维护。我们可以使用Django的模板系统(Template System)来实现这种模式，这就是本文要具体讨论的问题。">
    
    
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <meta property="og:title" content="Django学习笔记（3）——Django的模板"/>
    <meta property="og:site_name" content="林寿山的技术博客 Ray Taylor Lin&#39;s world"/>

    <link rel="alternate" href="/atom.xml" title="Ray Taylor Lin&#39;s world" type="application/atom+xml">
    <link rel="stylesheet" href="/css/lib/font-awesome.css" type="text/css">
    <link rel="stylesheet" href="/css/lib/normalize.css" type="text/css">
    <link rel="stylesheet" href="/css/lib/furatto.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" media="screen" type="text/css">

    
        <link rel="stylesheet" href="/css/lib/prettify_raytaylorism.css" type="text/css">
        
    
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <script src="/js/jquery-1.10.2.min.js"></script>
    <script src="/js/jquery.jpanelmenu.js"></script>
</head>


<body class="container-fluid">
    <header id="page-header">
        <div class="navbar inverse-navbar">
    <div class="navbar-inner">
        <div class="container-center">
            <a href="/index.html" class="menu-trigger" data-meteocon="M">
                <i class="icon-reorder"></i>
            </a>
            <div class="nav-collapse navbar-responsive-collapse collapse">
                <nav id="menu">
                    <ul class="nav">
                        <li><a class="brand" id="blog-title" href="/index.html">Ray Taylor Lin&#39;s world</a></li>
                    </ul>
                    <div class="pull-right nav" id="nav-button-group">
                        
                            <a href="/" class="menu-home btn btn-primary btn-large">
                                <i class="icon-home icon-white"></i>
                                首页
                            </a>
                        
                            <a href="/archives" class="menu-archive btn btn-primary btn-large">
                                <i class="icon-archive icon-white"></i>
                                归档
                            </a>
                        
                            <a href="javascript:void(0);" class="menu-category btn btn-primary btn-large">
                                <i class="icon-archive icon-white"></i>
                                分类
                            </a>
                        
                            <a href="/reading" class="menu-reading btn btn-primary btn-large">
                                <i class="icon-book icon-white"></i>
                                读书
                            </a>
                        
                            <a href="/about" class="menu-about btn btn-primary btn-large">
                                <i class="icon-user icon-white"></i>
                                关于
                            </a>
                        
                    </div>
                </nav>
                <nav id="jPanelMenu-menu-side">
    <ul class="nav main-menu">
        <li><a class="brand" href="index.html">Ray Taylor Lin&#39;s world</a></li>
        
            <li>
                <a href="/" class="menu-home">
                    <i class="icon-home icon-white"></i>
                    首页
                </a>
            </li>
        
            <li>
                <a href="/archives" class="menu-archive">
                    <i class="icon-archive icon-white"></i>
                    归档
                </a>
            </li>
        
            <li>
                <a href="javascript:void(0);" class="menu-category">
                    <i class="icon-archive icon-white"></i>
                    分类
                </a>
            </li>
        
            <li>
                <a href="/reading" class="menu-reading">
                    <i class="icon-book icon-white"></i>
                    读书
                </a>
            </li>
        
            <li>
                <a href="/about" class="menu-about">
                    <i class="icon-user icon-white"></i>
                    关于
                </a>
            </li>
        
    </ul>

    <ul class="nav category-menu hide">
        <li>
            <span><a class="brand" href="javascript:void(0);">分类目录</a></span>
            <span><a class="btn-back brand pull-right" href="javascript:void(0);">
                <i class="icon-arrow-left"></i>
            </a></span>
        </li>

        

        

            

            <li collapse-level="0">
                <a href="/categories/daily/" class="collapse-level-0">
                    <i class="icon-caret-right"></i>
                    daily(6)
                </a>
            </li>

            

            

        

            <li collapse-level="0">
                <a href="/categories/Tech/" class="collapse-level-0">
                    <i class="icon-caret-right"></i>
                    Tech(32)
                </a>
            </li>

            

            

            <li collapse-level="1">
                <a href="/categories/Tech/algorithm/" class="collapse-level-1">
                    <i class="icon-caret-right"></i>
                    algorithm(4)
                </a>
            </li>

            

            

        

            <li collapse-level="1">
                <a href="/categories/Tech/IDE/" class="collapse-level-1">
                    <i class="icon-caret-right"></i>
                    IDE(2)
                </a>
            </li>

            

            

        

            <li collapse-level="1">
                <a href="/categories/Tech/other/" class="collapse-level-1">
                    <i class="icon-caret-right"></i>
                    other(1)
                </a>
            </li>

            

            

        

            <li collapse-level="1">
                <a href="/categories/Tech/Script/" class="collapse-level-1">
                    <i class="icon-caret-right"></i>
                    Script(7)
                </a>
            </li>

            

            

            <li collapse-level="2">
                <a href="/categories/Tech/Script/Lua/" class="collapse-level-2">
                    <i class="icon-caret-right"></i>
                    Lua(3)
                </a>
            </li>

            

            

        

            <li collapse-level="2">
                <a href="/categories/Tech/Script/Python/" class="collapse-level-2">
                    <i class="icon-caret-right"></i>
                    Python(4)
                </a>
            </li>

            

            

        

        

            <li collapse-level="1">
                <a href="/categories/Tech/git/" class="collapse-level-1">
                    <i class="icon-caret-right"></i>
                    git(4)
                </a>
            </li>

            

            

        

            <li collapse-level="1">
                <a href="/categories/Tech/web/" class="collapse-level-1">
                    <i class="icon-caret-right"></i>
                    web(14)
                </a>
            </li>

            

            

            <li collapse-level="2">
                <a href="/categories/Tech/web/HTML5/" class="collapse-level-2">
                    <i class="icon-caret-right"></i>
                    HTML5(1)
                </a>
            </li>

            

            

        

            <li collapse-level="2">
                <a href="/categories/Tech/web/javascript/" class="collapse-level-2">
                    <i class="icon-caret-right"></i>
                    javascript(1)
                </a>
            </li>

            

            

        

            <li collapse-level="2">
                <a href="/categories/Tech/web/Node.js/" class="collapse-level-2">
                    <i class="icon-caret-right"></i>
                    Node.js(5)
                </a>
            </li>

            

            

        

            <li collapse-level="2">
                <a href="/categories/Tech/web/HTTP/" class="collapse-level-2">
                    <i class="icon-caret-right"></i>
                    HTTP(7)
                </a>
            </li>

            

            

        

        

        

        
    </ul>
</nav>
            </div>
        </div>
    </div>
</div>

    </header>
    <div id="content-wrapper">
        <div class="container-center">
        <article class="post">
    <div class="article-title article-title-big">
        
    
        <h1>Django学习笔记（3）——Django的模板</h1>
    

    </div>

    <div class="date-row ">
        <time datetime="2014-02-09T10:07:55.000Z">2014-02-09</time>
    </div>

    <div class="entry">
        <p>在<a href="/Tech/Script/Python/django-note-1/">学习笔记（1）</a>中，你可能已经注意到我们在例子视图hello_view中返回文本的方式有点特别。也就是说，HTML可以直接硬编码在Python代码之中。但是直接将HTML编码到Python代码中有许多坏处：对页面设计进行的任何改变都必须对Python代码进行相应的修改，站点设计的修改往往比底层Python代码的修改要频繁得多；Python代码编写和HTML设计是两项不同的工作，大多数专业的网站开发环境都将他们分配给不同的人员（甚至不同部门）来完成。</p>
<p>基于这些原因，将页面的设计和Python的代码分离开会更干净简洁更容易维护。我们可以使用Django的模板系统(Template System)来实现这种模式，这就是本文要具体讨论的问题。</p>
<a id="more"></a>

<h1 id="1-django-">1. Django模板系统</h1>
<h2 id="1-1-">1.1 模板系统基础</h2>
<p>模板是一个文本，用于分离文档的表现形式和内容。模板定义了占位符以及各种用于规范文档该如何显示的各部分基本逻辑（模板标签）。模板通常用于产生HTML，但是Django的模板也能产生任何基于文本格式的文档。下面这个模板例子描述了一个向某个公司签单人员致谢HTML页面。</p>
<pre><code>&lt;html&gt;
&lt;head&gt;
    &lt;title&gt;Ordering notice&lt;/title&gt;
&lt;/head&gt;

&lt;body&gt;
    &lt;h1&gt;Ordering notice&lt;/h1&gt;
    &lt;p&gt;Dear {{ person_name }},&lt;/p&gt;
    &lt;p&gt;Thanks for placing an order from {{ order.company }}. It&#39;s scheduled to
    ship on {{ order.ship_date|date:&quot;F j, Y&quot; }}.&lt;/p&gt;
    &lt;p&gt;Here are the items you&#39;ve ordered:&lt;/p&gt;

    &lt;ul&gt;
    {% for item in item_list %}
        &lt;li&gt;{{ item }}&lt;/li&gt;
    {% endfor %}
    &lt;/ul&gt;

    {% if ordered_warranty %}
        &lt;p&gt;Your warranty information will be included in the packaging.&lt;/p&gt;
    {% else %}
        &lt;p&gt;You didn&#39;t order a warranty, so you&#39;re on your own when
        the products inevitably stop working.&lt;/p&gt;
    {% endif %}

    &lt;p&gt;Sincerely,&lt;br /&gt;{{ company }}&lt;/p&gt;
&lt;/body&gt;
&lt;/html&gt;
</code></pre><p>可以看出，模板跟HTML很像，事实上它就是保存成一个.html文件，它跟我们以前见到的HTML的区别就在于多了一些由双花括号<code>{{ }}</code>括起来的<strong>变量</strong>以及由<code>{% %}</code>括起来的模板标签，此外变量还可以通过过滤器（<code>|</code>管道符）转换变量输出格式。</p>
<p>变量在这里起到了占位符的作用，一般它最终会被传入模板的数据替代，最后模板将变成真正的HTML代码展现给用户。模板标签不会输出到最终的HTML中，它们多数起到了逻辑控制的作用，例如上例中，如果传入的ordered_warranty值为True，则显示相应的p标签；标签<code>{% for %}</code>遍历传入的item_list，并依次生成结构相同但内容不同的HTML。</p>
<p>通常来说，我们会将模板和视图一起使用，但模板本身是一个Python库，你可以在任何地方使用它，而不仅仅是在Django视图中。这里简单介绍一下单独在Python代码中使用Django模板的最基本方式：</p>
<ol>
<li>可以用原始的模板代码字符串创建一个Template对象，Django同样支持用指定模板文件路径的方式来创建Template对象</li>
<li>调用模板对象的render方法，并且传入一套变量context。它将返回一个基于模板的展现字符串，模板中的变量和标签会被context值替换。示例代码如下：</li>
</ol>
<pre><code>from django import template
t = template.Template(&#39;My name is {{ name }}.&#39;)
c = template.Context({&#39;name&#39;: &#39;Adrian&#39;})
print t.render(c)
</code></pre><p>但实际的Django开发中我们一般不使用这种方式来渲染模板，后面将会看到更简单直接的方法。</p>
<h2 id="1-2-">1.2 模板标签介绍</h2>
<ol>
<li><code>{% if %} {% endif %}</code>标签检查一个变量，如果这个变量为真（即变量存在，非空，不是布尔值假），系统会显示在<code>if</code>和<code>endif</code>之间的任何内容。此外，还有一个可选的<code>else</code>标签，但是<strong>没有</strong><code>elif</code>标签，所以如果需要多个分支条件，可以使用嵌套的<code>if</code>标签来代替。<code>if</code>标签可以接受<code>and</code>，<code>or</code>或<code>not</code>关键字来对多个变量做判断，并且<strong>不允许在同一个标签中同时使用and和or，因为逻辑上可能模糊的</strong>。</li>
<li><code>{% for %} {% endfor %}</code>允许我们在一个序列上迭代，每一次循环中，模板系统会渲染在<code>for</code>和<code>endfor</code>之间的所有内容。每个for循环里还有一个称为<code>forloop</code>的模板变量，这个变量有一些提示循环进度信息的属性，关于这个变量的详细用法可以参照<a href="http://djangobook.py3k.cn/appendixF/" target="_blank">这篇文章</a>的for一节。下面一段示例代码给出和for标签结合使用的reverse（反向遍历）和empty（列表为空的情况）标签的用法：</li>
</ol>
<pre><code>{% for athlete in athlete_list reverse%}
&lt;p&gt;{{ athlete.name }}&lt;/p&gt;
{% empty %}
&lt;p&gt;There are no athletes. Only computer programmers.&lt;/p&gt;
{% endfor %}
</code></pre><ol>
<li><code>{% ifequal VARIABLE CONSTANT %} {% endifequal %}</code>标签比较VARIABLE和CONSTANT两个值，当他们相等时，显示在<code>ifequal</code> 和<code>endifequal</code>之中所有的值</li>
<li><code>{# #}</code>是Django模板语言的代码注释</li>
<li>就像前面提到的一样，模板过滤器是在变量被显示前修改它的值的一个简单方法，而且一个过滤器管道的输出又可以作为下一个管道的输入。常用的过滤器有<code>first</code>，<code>upper</code>，<code>truncatewords</code>等等，详情同样参照<a href="http://djangobook.py3k.cn/appendixF/" target="_blank">这篇文章</a>。</li>
</ol>
<h1 id="2-">2. 在视图中使用模板</h1>
<h2 id="2-1-">2.1 配置模板路径</h2>
<p>为了减少模板加载调用过程及模板本身的冗余代码，Django提供了一种使用方便且功能强大的API，用于从磁盘中加载模板，要使用此模板加载API，首先你必须将模板的保存位置告诉框架。假设项目根目录是mysite，一般会在这个目录下建立一个templates文件夹，专门存放模板。然后在setting.py中设置<code>TEMPLATE_DIRS</code>这一项。</p>
<pre><code>TEMPLATE_DIRS = (
    &#39;templates/&#39;,
)
</code></pre><h2 id="2-2-">2.2 渲染模板</h2>
<p>Django提供了一个捷径，让你一次性地载入某个模板文件，渲染它，然后将此作为HttpResponse返回。我们以下面这样一个模板文件（current_datetime.html）为例。</p>
<pre><code>&lt;html&gt;&lt;body&gt;It is now {{ current_date }}.&lt;/body&gt;&lt;/html&gt;
</code></pre><p>那么现在的视图views.py可以这样写。</p>
<pre><code>from django.shortcuts import render_to_response
import datetime

def current_datetime_view(request):
    # 获取填充模板的变量，这里经常会是调用Model层的方法访问数据库
    now = datetime.datetime.now()
    # 第一个参数是要使用的模板名称，第二个参数是一个字典，用于填充模板
    return render_to_response(&#39;current_datetime.html&#39;, {&#39;current_date&#39;: now})
</code></pre><p>以上模板加载、上下文创建、模板解析和HttpResponse创建工作均在对均被<code>render_to_response()</code>的调用给包办了了，因为这个函数返回了HttpResponse对象，所以我们仅需在视图中 return该值。</p>
<h1 id="3-">3. 模板的编写原则</h1>
<p>在介绍了模板加载机制之后，我们再介绍一个利用该机制的内建模板标签：<code>{% include %}</code> 。该标签允许在（模板中）包含其它的模板的内容。标签的参数是所要包含的模板名称，可以是一个变量，也可以是用单/双引号硬编码的字符串。每当在多个模板中出现相同的代码时，就应该考虑是否要使用<code>include</code>来减少重复，这也是为了提高代码的可重用性。</p>
<p>在实际应用中，经常会用Django模板系统来创建整个HTML页面。这就带来一个常见的 Web 开发问题：在整个网站中，如何减少共用页面区域（比如站点导航）所引起的重复和冗余代码？</p>
<p>解决该问题的传统做法是使用服务器端的includes，你可以先编写各小部分（比如导航栏、header、footer、各功能区块等等），然后在一个base.html中搭出网页的HTML骨架，然后用<code>include</code>像拼拼图一样各个模板组装成最后的大页面。但是用Django解决此类问题的首选方法是使用更加优雅的策略——<em>模板继承</em>。你可以对那些<strong>不同</strong>的代码段进行定义，而不是定义<strong>相同</strong>的代码段。</p>
<p>第一步是定义<em>基础模板base.html</em>，该模板之后将由<em>子模板</em>继承。</p>
<pre><code>{% load staticfiles %}
&lt;!DOCTYPE html&gt;
&lt;head&gt;
    &lt;title&gt;
        {% block title %} The Default Title {% endblock %}
    &lt;/title&gt;

    {% block css %} 
    &lt;link href=&quot;{% static &quot;css/base.css&quot; %}&quot; rel=&quot;stylesheet&quot; type=&quot;text/css&quot;/&gt;
    {% endblock %}
&lt;/head&gt;
&lt;body&gt;
    &lt;div id=&quot;wrapper&quot;&gt;
        {% block header %}
        {% include &#39;partial/header.html&#39; %}
        {% endblock %}

        {% block content %} {% endblock %}

        {% block footer %}
        {% include &#39;partial/footer.html&#39; %}
        {% endblock %}
    &lt;/div&gt;

    {% block js %} 
    &lt;script type=&quot;text/javascript&quot; src=&quot;{% static &quot;js/jquery.min.js&quot; %}&quot;&gt;&lt;/script&gt;
    {% endblock %}
&lt;/body&gt;
</code></pre><p>所有的<code>block</code>标签告诉模板引擎，子模板可以重载这些部分，如果子模板不重载这些部分，则将按默认的内容显示。（顺便提一下，模板中的<code>load staticfiles</code>表示加载静态资源，这个一般用于加载CSS,JS等静态文件时用到）上面的基础模板中定义了6个block，当我们的页面有变化时，随时可以对这些block做出修改，看看下面的首页index.html：</p>
<pre><code>{% extends &quot;base.html&quot; %}
{% load staticfiles %}

{% block css %} 
{{ block.super }}
&lt;link href=&quot;{% static &quot;css/page/index.css&quot; %}&quot; rel=&quot;stylesheet&quot; type=&quot;text/css&quot;/&gt;
{% endblock %}

{% block content %}
&lt;p&gt;Hello world!&lt;/p&gt;
{% include &quot;partial/index/product_list.html&quot; %}
{% endblock %}
</code></pre><p>在index.html中，首先用<code>extends</code>标签声明这个模板继承的父模板（必须保证其为模板中的第一个模板标记）。接着重定义css这个block，在包含了父模板的基础上（<code>block.super</code>）引入了新的CSS文件（也就是说，这里最终会加载base.css和index.css两个文件）；替换了content这个block。这就是子模板所做的全部工作。注意：<strong>继承并不会影响到模板的上下文。换句话说，任何处在继承树上的模板都可以访问到你传到模板中的每一个模板变量。</strong></p>
<p>最后总结一下Django模板的编写原则。你可以根据需要使用任意多的继承次数。使用继承的一种常见方式是下面的三层法：</p>
<ol>
<li>创建base.html模板，在其中定义站点的主要外观感受。这些都是不常修改甚至从不修改的部分。</li>
<li>为网站的每个区域创建base_SECTION.html模板(例如, base_photos.html和base_forum.html)。这些模板对base.html进行拓展，并包含区域特定的风格与设计。</li>
<li>为每种类型的页面创建独立的模板，例如论坛页面或者图片库。这些模板拓展相应的区域模板。</li>
</ol>
<p>这个方法可最大限度地重用代码，并使得向公共区域（如区域级的导航）添加内容成为一件轻松的工作。</p>

    </div>
    
    <footer >
        
            
    
    <div class="categories">
        所属目录：
    <a href="/categories/Tech/">Tech</a> -> <a href="/categories/Tech/Script/">Script</a> -> <a href="/categories/Tech/Script/Python/">Python</a>
    </div>

            
    
    <div class="tags-row">
        标签：<a class="btn btn-info" href="/tags/django/">django</a><a class="btn btn-info" href="/tags/python/">python</a>
    </div>

        
        <div class="clearfix"></div>
    </footer>
</article>



<section id="comment">
    <h1 class="page-sub-title">留言</h1>
    <!-- Duoshuo Comment BEGIN -->
    <div class="ds-thread" data-title="Django学习笔记（3）——Django的模板">

    <script type="text/javascript">
        var duoshuoQuery = {short_name:"raytaylorlin"};
        (function() {
            var ds = document.createElement('script');
            ds.type = 'text/javascript';
            ds.async = true;
            ds.src = 'http://static.duoshuo.com/embed.js';
            ds.charset = 'UTF-8';
            (document.getElementsByTagName('head')[0] 
            || document.getElementsByTagName('body')[0]).appendChild(ds);
        })();
    </script>
    <!-- Duoshuo Comment END -->
    </div>
</section>


        </div>
    </div>
    <footer id="page-footer"><div class="footer-content">
    <div class="container-center">
        <div class="footer-text pull-left">
            <div class="copyright">
                
                Copyright &copy; 2014 <a href="/">林寿山</a>
                
            </div>
            <div class="theme-copyright">
                <span>Blog powered by <a href="http://zespia.tw/hexo/zh-CN/">hexo</a></span>
                Theme <a href="https://github.com/raytaylorlin/hexo-theme-raytaylorism">raytaylorism</a> desgined by <strong>Nix</strong>
            </div>
        </div>
        <div class="social-group pull-right">
            
            <a href="https://github.com/raytaylorlin" target="_blank" title="github"><i class="icon-github"></i></a>
            
            
            <a href="http://weibo.com/1956184117" target="_blank" title="新浪微博"><i class="icon-weibo"></i></a>
            
            
            <a href="http://www.renren.com/309069699" target="_blank" title="人人网"><i class="icon-renren"></i></a>
            
            
            <a href="https://plus.google.com/113216251417550089742?rel=author" target="_blank" title="Google+"><i class="icon-google-plus-sign"></i></a>
            
        </div>
        <div class="clearfix"></div>
    </div>
</div>
</footer>
    
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-43460643-1', 'raytaylorlin.com');
    ga('send', 'pageview');

</script>


<script src="/js/prettify.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $("pre").addClass("prettyprint");
        prettyPrint();
    });
</script>

<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
});
</script>
<script type="text/javascript"
    src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>

<script>
    (function($) {
        //当内容区内容不够长时，设置内容区域的高度使footer沉底
        var resizeContentWrapper = function() {
            //HACK: 用延时的方法使计算高度时候更加准确，会有一闪的情况
            setTimeout(function() {
                var contentHeight = Math.floor($('#content-wrapper .container-center').height()),
                headerHeight = Math.floor($('#page-header').height()),
                footerHeight = Math.floor($('#page-footer').height()),
                minHeight = Math.floor($(window).height() - headerHeight - footerHeight);
                if(contentHeight < minHeight) {
                    $('#content-wrapper').css({height: minHeight});                    
                } else {
                    $('#content-wrapper').css({height: 'auto'});
                }
            },500);
        };

        //响应式侧边栏
        var initJPanelMenu = function() {
            var jPM = $.jPanelMenu({
                menu: '#jPanelMenu-menu-side',
                duration: 500
            });
            jPM.on();
        };

        //初始化目录按钮事件绑定
        var initCategory = function() {
            function showMainMenu() {
                var $jPanelMenu = $('#jPanelMenu-menu');
                $jPanelMenu.find('ul.category-menu').hide();
                $jPanelMenu.find('ul.main-menu').fadeIn();
            }

            function showCategoryMenu() {
                var $jPanelMenu = $('#jPanelMenu-menu');
                $jPanelMenu.find('ul.main-menu').hide();
                $jPanelMenu.find('ul.category-menu').fadeIn();
            }

            $('.menu-category').click(function() {
                var jPM = $.jPanelMenu({
                    duration: 500,
                    beforeOpen: function() {
                        showCategoryMenu();
                    },
                    afterClose: function() {
                        showMainMenu();
                    }
                });
                if(jPM.isOpen()) {
                    showCategoryMenu();
                } else {
                    jPM.open();
                }
            });

            $('.category-menu').on('click', '.btn-back', function() {
                showMainMenu();
            });
        };

        $(document).ready(resizeContentWrapper);
        $(document).ready(initJPanelMenu);
        $(document).ready(initCategory);
        
        $(window).resize(resizeContentWrapper);
    })(jQuery);
</script>
</body>
</html>